$act: orangered;

body {
	background: #eee;
	font-family: helvetica;
}

.list {
	display: inline-block;
	width: 200px;
	vertical-align: top;
	margin: 20px 20px 0 20px;
	&-items {
		a {
			display: block;
			text-decoration: none;
			color: #000;
			padding: 4px;
			font-size: 20px;
			background: #fff;
			margin-bottom: 10px;
			cursor: pointer;
			position: relative;
			&:hover {
				color: $act;
			}
			div {
				position: absolute;
				top: 7px;
				right: -15px;
//				font-weight: 800;
				font-size: 14px;
				width: 16px;
				height: 16px;
				text-align: center;
				line-height: 16px;
			}
		}
	}
	&-create {
		border: 2px solid $act;
		background: none;
		width: 90px;
		height: 30px;
		color: $act;
		font-weight: 600;
		&:active {
			background: $act;
			color: #fff;
		}
		&:focus {
			outline: none;
		}
	}
}

.note {
	display: inline-block;
	vertical-align: top;
	max-width: 500px;
	&-header, &-body {
		padding: 10px;
		background: #fff;
		&:focus {
			outline: none;
		}
	}
	&-header {
		font-size: 30px;
		font-weight: 800;
		margin: 20px 0;
	}
	&-body {
		font-size: 20px;
	}
}