$act: orangered;
$paper: rgb(253,253,245);

body {
//	background: $paper;
	font-family: helvetica;
}

.list {
//	display: inline-block;
	position: absolute;
	right: 40px;
	top: 108px;
	width: 200px;
	vertical-align: top;
//	margin: 108px 20px 0 20px;
	&-items {
		a {
			display: block;
			text-decoration: none;
			color: #7e7e7e;
			padding: 4px;
			font-size: 12px;
			background: #fff;
			margin-bottom: 10px;
			cursor: pointer;
			position: relative;
//			&:hover {
////				color: $act;
//				color: #000;
//			}
			&.curr {
				color: #000;
			}
			div {
				position: absolute;
				top: 7px;
				right: -15px;
//				font-weight: 800;
				font-size: 14px;
				width: 16px;
				height: 16px;
				text-align: center;
				line-height: 16px;
			}
		}
	}
	&-create {
		border: 2px solid $act;
		background: none;
		width: 90px;
		height: 30px;
		color: $act;
		font-weight: 600;
		&:active {
			background: $act;
			color: #fff;
		}
		&:focus {
			outline: none;
		}
	}
}

.note {
//	display: inline-block;
//	vertical-align: top;
	position: relative;
	margin: 20px auto;
	width: 500px;
	&-header, &-body {
		padding: 10px;
		background: #fff;
		&:focus {
			outline: none;
		}
	}
	&-header {
		font-size: 34px;
		font-weight: 800;
		margin: 20px 0;
	}
	&-body {
		font-size: 18px;
		color: #272727;
		min-height: 400px;
	}
}

.delete {
	border: none;
	background: none;
	color: $act;
	font-weight: 800;
	float: right;
}